@import 'tailwindcss';

@layer base {
    :root {
        --background: #232829;
        --foreground: #fff;
        --font-montserrat: 'Montserrat', sans-serif;
    }
}

@theme {
    /* Текстовые цвета */
    --color-primary: var(--foreground);
    --color-accent: #fdb056;
    --color-warning: #ff4e4e;
    --color-counter: #ffbb00;
    --color-counter-warning: #ff4e4e;

    /* Фоновые цвета */
    --color-background: var(--background);
    --color-bg-dark: #313637;

    /* Border цвета */
    --color-border-primary: #484d4e;

    /* Border radius */
    --radius-card-sm: 20px;
    --radius-best-сard-lg: 34px;
    --radius-card-lg: 40px;

    /* Line-height */
    --leading-sm: 1.1;
    --leading-md: 1.2;
    --leading-lg: 1.3;

    /* Breakpoints */
    --breakpoint-mobm: 375px;

    /* Animations */
    --animate-pulse-glow: pulseGlow 2s ease-in-out infinite;
    --animate-blink: blink 1s infinite;
    --animate-jadeOut: jadeOut 2s ease-in forwards;
    --animate-jadeIn: jadeIn 2s ease-in forwards;

    @keyframes pulseGlow {
        0%,
        100% {
            opacity: 1;
            box-shadow: 0 0 0 0 rgba(253, 176, 86, 0.7);
        }

        50% {
            opacity: 0.9;
            box-shadow: 0 0 15px 10px rgba(253, 176, 86, 0.4);
        }
    }

    @keyframes blink {
        0%,
        100% {
            color: var(--color-counter-warning);
        }

        50% {
            color: var(--color-counter);
        }
    }

    @keyframes jadeOut {
        0% {
            opacity: 1;
            scale: 1;
        }

        100% {
            opacity: 0;
            scale: 0;
        }
    }

    @keyframes jadeIn {
        0%,
        40% {
            opacity: 0;
            scale: 0.3;
        }
        100% {
            opacity: 1;
            scale: 1;
        }
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    line-height: var(--leading-md);
}

.content {
    @apply mx-auto w-full max-w-312 px-4;
}
